{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Music Market</h1>
        <p class="lead">The place to buy any musics</p>
    </div>
</div>
{% endblock %}
